<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugFileName" value="VersionOneAPIClientDebug.txt" />
    <add key="V1Url" value="https://www14.v1host.com/v1sdktesting/" />
    <add key="V1UserName" value="admin" />
    <add key="V1Password" value="admin" />
    <add key="UseWindowsIntegratedAuth" value="false" />
  </appSettings>
</configuration>